body {
  background-color: #e2e8f0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.flex {
  display: flex;
}

.card-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-container > .card {
  background-color: white;
  border-radius: 0 0 2px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 2px solid rebeccapurple;
}

.card-container > .card-buttons {
  display: flex;
  flex-direction: column;
}

.card-container > .card-buttons > .btn-box {
  border-top: 2px solid rebeccapurple;
  background-color: white;
}

.card-container > .card-buttons > .btn-box > button {
  background-color: white;
  border: none;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
}

.card-container > .card-buttons > .btn-box > button > * {
  pointer-events: none;
}

.card-container > .card-buttons > .btn-box > button:hover {
  background-color: lightgray;
  transition: background-color 0.2s ease-in-out;
}

.card-container > .card-buttons > .btn-box:last-child {
  border-bottom: 2px solid rebeccapurple;
}

.button-borders-left > .btn-box {
  border-left: 2px solid rebeccapurple !important;
}

.button-borders-right > .btn-box {
  border-right: 2px solid rebeccapurple !important;
}